.sign-in__link {
  color: #fff;
  align-self: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: opacity 1s linear;
  cursor: pointer;
}

.sign-in__link:hover {
  opacity: 0.6;
}