.sign-in {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 358px;
  margin: 15px auto 0;
  padding: auto;
  gap: 3px;
}