.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  align-self: center;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  transition: opacity 1s linear;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 470px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}